*{
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: bold;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orangered;
    height: 50px;
    width: 100%;
}
header img{
    padding-left: 10px;
    margin-top: 3px;
    height: fit-content;
    width: 50px;
}
header div ul{
    display: flex;
    list-style-type: none;
}
header div ul li{
    padding: 10px;
}
header div ul li a:hover{
    color: white;
    font-weight: bolder;
}

section {
    width: 10px;
    height: 0px;
    color: black;
    font-size: 20PX;
    margin: 50px;
    padding: 10px;
    
}
.transitionBackground {
    background-color: orangered ;
    width: 1140px;
    height: 25px;
    border: 1px solid black;
}
button {
    font-size: 20px;
    padding: 15px 30px;
    border:0;
    border-radius: 10px;
    color: black;
    font-family: 400;
    cursor: pointer;
}
button:hover {
    background: orangered;
}


.container2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card2 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
     background-image: url('../IMG_3264_JETTA.jpg') ;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.card-text2 {
    width: 20%;
    letter-spacing: 2px;
    
    color: orangered (109, 109, 109)
}

.card-wrapper2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper2::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity:0;
    transition: 0.5s ease-in-out;

}

.card2:hover {
    filter: unset;
}
.card2:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}



.container3 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card3 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
     background-image: url('../IMG_3267_CAMARO.jpg') ;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.card-text3 {
    width: 25%;
    letter-spacing: 2px;
    
    color: orangered (109, 109, 109)
}

.card-wrapper3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper3::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity:0;
    transition: 0.5s ease-in-out;

}

.card3:hover {
    filter: unset;
}
.card3:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

footer{
    display:flex;
    height: 50px;
    width: 100%;
    background-color: orangered;
    position: relative;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    

    
}
.footer-redes-sociais{
    display: flex;
}
.footer-redes-sociais img{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: 30px;
}